
/* basic setting */
:root{
    --main-color:  #355c7d;
    --second-color: #f8b195;
    --third--color: #f67280;
    --animation--time: 0.3s;
    --link--color: #5c5c5c;
}



html{
    height: 100vh;
    background-color: var(--main-color);
}


li{
    list-style: none;
    display: inline-block;
}




/* link group */

.link_group{
    display: inline-flex;
    padding-left: 1rem;
    margin: 0;
    align-items: center;
}


/* top navigation bar  */
.nav{
    height: 3rem;
    padding: 1rem 1.5rem;
    margin-bottom: 4rem;
    background: var(--third--color);   
    display: flex;
    justify-content: space-between;
}

.nav-link_contain{
    display: inline-flex;
    align-items: center;
}



.icon_contain-icon{
    width: 3rem;
    height: 3rem;
    transition: transform var(--animation--time);
}

.icon_contain-icon:hover{
    transform: scale(1.2);
}



.link_group-link{
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #5c5c5c; 
    font-weight: bold;
    transition: color var(--animation--time);
}



.link_group-link:visited{
    color: var(--link--color);
}

.link_group-link:hover{
    color: black;
}



.share_icon{
    margin-right: 1rem;
    transition: transform var(--animation--time);
}

.share_icon:hover{  
    transform: rotate(30deg); 
}





/* Main game panel */
.container{
    background-color: var(--main-color);
    border-radius: 10px;
    column-gap: 10px;
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    margin: auto;
    padding: 1rem;
    row-gap: 10px;
    width: fit-content;
}

.container-box{
    width: 6rem;
    height: 6rem;
    border: 1px solid black;
    border-color: var(--third--color);
    background: linear-gradient(162deg, #96444d 0%, #f67280 60%);
    border-radius: 10px;
    background-size: 200%;
    background-position: 100% 50%; 
    box-shadow: 10px 10px 30px  #bf5863;
    transition: all 0.5s ease-in-out;
}



.container-box:hover{
    box-shadow: 0px 0px 0px #bf5863;
    animation-name: transaction;
    animation-duration: 0.5s;
    background-position: 0% 75%;
    transform: scale(0.9);
}



@keyframes transaction{
    0% {
        background-position: 100% 50%;   
    }


    100% {
        background-position: 0% 75%;   
    }
}




/*  button */
.btn_container{
    width: fit-content;
    height: fit-content;
    margin: 2rem auto;
}

.btn_container-btn{
    border-style: none;
    background-color: var(--main-color);
   
}

.btn-icon{
    width: 5rem;
    height: 5rem;
    transition: all var(--animation--time) ease-in-out;
    cursor: pointer;
}



.btn-icon:hover{
    transform: scale(1.2) rotate(180deg);
}








